
.chatting{
    height : 750px;
    width: 400px;
    font-family: dongle;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.user-container{
    background: #9bbbd4;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}

.user-container label{
    flex :2;
    display: inline-flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.user-container input{
    flex:8;
    border-radius: 3px;
    border: none;
    height: 30px;
    font-size: 20px;
    width: 200px;
    margin-right: 20px;
}

.display-container{
    flex: 10;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #9bbbd4;    ;
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}

/* 스크롤바 스타일링 */
.display-container::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}

.input-container{
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.input-container span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
}

.chatting-input {
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    height: 100%;
    flex: 8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}

.send-button{
    flex:2;
    margin-left: 5px;
    background-color: #ffeb33;
    border: none;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
}

.chatting-list li {
    width: 90%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0.5rem;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
}

.profile .user{
    font-size: 25px;
    margin-bottom: 0.3rem;
}

.profile .image{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.message{
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 25px;
    margin: 0 5px;
    flex:8;
}

.time {
    flex-direction: column;
    font-size: 19px;
    margin: 0 5px;
}

.sent {
    flex-direction: row-reverse;
    float: right;
}

.sent .message {
    background: #ffeb33;
}

.received .message {
    background: #fff;
}

